body[data-mode='light-mode'] {
  --bg-color: #fff;
  --secondary-bg-color: #e1e1e1;
  --color: #212121;
  --secondary-color: #33332d;
}

body[data-mode='dark-mode'] {
  --bg-color: #33332d;
  --secondary-bg-color: #212121;
  --color: #fff;
  --secondary-color: #e1e1e1;
}

body[data-color='teal'] {
  --dark: #03312e;
  --medium-dark: #037171;
  --medium: #009f93;
  --medium-light: #00b9ae;
  --light: #02c3bd;
}

body[data-color='purple'] {
  --dark: #240046;
  --medium-dark: #3c096c;
  --medium: #682ba5;
  --medium-light: #7b2cbf;
  --light: #9d4edd;
}

body[data-color='blue'] {
  --dark: #0f3a57;
  --medium-dark: #2280bf;
  --medium: #3498db;
  --medium-light: #63b0e3;
  --light: #97caed;
}

body[data-color='coral'] {
  --dark: #fc7665;
  --medium-dark: #f38375;
  --medium: #ee8d81;
  --medium-light: #f09d92;
  --light: #f0b0a8;
}

body[data-color='brown'] {
  --dark: #553838;
  --medium-dark: #795656;
  --medium: #885a5a;
  --medium-light: #b17676;
  --light: #b38d8d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
