:root {
  --teal-mononochrome-dark: #03312e;
  --teal-mononochrome-medium-dark: #037171;
  --teal-mononochrome-medium: #009f93;
  --teal-mononochrome-medium-light: #00b9ae;
  --teal-mononochrome-light: #02c3bd;

  --purple-mononochrome-dark: #240046;
  --purple-mononochrome-medium-dark: #3c096c;
  --purple-mononochrome-medium: #682ba5;
  --purple-mononochrome-medium-light: #7b2cbf;
  --purple-mononochrome-light: #9d4edd;

  --blue-mononochrome-dark: #0f3a57;
  --blue-mononochrome-medium-dark: #2280bf;
  --blue-mononochrome-medium: #3498db;
  --blue-mononochrome-medium-light: #63b0e3;
  --blue-mononochrome-light: #97caed;

  --coral-mononochrome-dark: #fc7665;
  --coral-mononochrome-medium-dark: #f38375;
  --coral-mononochrome-medium: #ee8d81;
  --coral-mononochrome-medium-light: #f09d92;
  --coral-mononochrome-light: #f0b0a8;

  --brown-mononochrome-dark: #553838;
  --brown-mononochrome-medium-dark: #795656;
  --brown-mononochrome-medium: #885a5a;
  --brown-mononochrome-medium-light: #b17676;
  --brown-mononochrome-light: #b38d8d;

  --main-color-dark: #33332d;
  --main-color-light: #e1e1e1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
